black==23.1.0
clint==0.5.1
dash==2.6.1
dateparser==1.1.1
fpdf==1.7.2
func-timeout==4.3.5
mlflow==2.1.1
multiprocess==0.70.13
nltk==3.7
numba==0.56.2
numpy==1.23.2
openpyxl==3.1.1
openTSNE==0.6.2
pandas==1.4.4
prophet==1.1.2
pycave==3.2.1
pyod==1.0.7
PyMetis==2022.1
PyPDF2==2.10.5
python-Levenshtein==0.12.2
python-slugify==6.1.2
seaborn==0.12.2
statsmodels==0.13.5
termcolor==1.1.0
tokenize-rt==5.0.0
torch==1.12.1
ujson==5.4.0
umap-learn==0.5.3
xlrd==2.0.1
yellowbrick==1.5
git+https://github.com/scikit-learn-contrib/hdbscan.git#egg=hdbscan
git+https://github.com/mayurgd/gmm-torch